*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #1D202B;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container{
   width: 90%;
   max-width: 1200px;
   margin: auto;
   padding: 40px 0;
   display: grid;
   grid-template-columns: 3fr 1fr;
   gap: 20px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    transition: transform .4s;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50);
    cursor: pointer;
}

.card .text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text h3{
    font-size: 18px;
}

.text p{
    font-size: 16px;
}

aside{
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-size: cover;
    background-position: center center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform .4s;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50);
    cursor: pointer;
}

aside h3{
    font-size: 18px;
}

aside p{
    font-size: 12px;
}

a{
    background-color: yellow;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 5px;
    font-weight: bold;
}

a:hover{
    background: linear-gradient(164deg, rgba(208,4,5,1) 27%, rgba(1,19,14,1) 92%);
    color: white;
}

aside:hover{
    transform: scale(1.1);
}

.card:hover{
    transform: scale(1.1);
}

.card .card1:hover{
    backdrop-filter: blur(20px);
}

@media screen and (max-width: 900px) {
	
}

@media screen and (max-width: 700px) {
	
}

@media screen and (max-width: 600px) {
    .container{
      /*   width: 90%;
        max-width: 1200px;
        margin: auto;
        padding: 40px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px; */
        display: flex;
        flex-direction: column;
     }

     .card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    aside{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 200px;
    }
    
    aside h3{
        font-size: 14px;
        text-align: left;
        align-self: start;
    }

    aside p{
        font-size: 12px;
        text-align: center;
       padding: 0 10px;
        
    }

    a{
        font-size: 12px; 
        align-self: end;
        padding: 6px 4px;
    }
}